
<div>
{{#each article}}
    {{#unless this.boolean}}
<p>{{this.title}}</p>
<a href="{{this.link}}"> {{this.link}}</a>
<button id="{{this._id}}" value="{{this.boolean}}" class="save">Save</button>
    {{/unless}}
{{/each}}

</div>